.App {
  /* text-align: center; */
}

.selector-dialog {
  width: 100%;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  z-index: 1;
}

div.selector-dialog-hide{
  display: none;
}

.imgPrev img{
  width: 100%;
  left: 50%;
  top: 50%;
}

/* .thumbnail img{ */
/*   width: 100%; */
/*   left: 50%; */
/*   top: 50%; */
/* } */

.thumbnail img{
  max-width: 100%;
  max-height: 100%;
  height: auto
}
