.App {
  /* text-align: center; */
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30px;
}

.App-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.selector-dialog {
  width: 100%;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

div.selector-dialog-hide{
  display: none;
}

.imgPrev img{
  width: 100%;
  left: 50%;
  top: 50%;
}

.thumbnail img{
  width: 100%;
  left: 50%;
  top: 50%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
